body {
    background-image: url('./assets/model.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin:0;
  }

nav {
    padding-top: .01%;
    border-bottom: 1px solid black;
    background-color: #FFFBDA;
    text-align: center;
  }
  

  .crumbs ol {
    list-style-type: none;
    padding-left: 0;
  }
  
  .crumb {
    display: inline-block;
    font-family: "Afacad Flux", sans-serif;
    font-size: 14pt;
  }
  
  .crumb a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
  }

  .div1{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 8%;

  }

  .div1-img{
    width: 80%;
    height: 350px;
    margin-left: 12%;
    border-radius: 10px;
  }

  h1{
    text-align: center;
    font-family: "Afacad Flux", sans-serif;
    text-transform: uppercase;
    color: #FFFBDA;
    /* color: azure; */
    /* font-size: 16pt; */
  }

  p{
    text-align: center;
    font-family: "Afacad Flux", sans-serif;
    color: #FFFBDA;
    /* color: azure; */
    font-size: 14pt;
  }

  hr{
    color: azure;
    border: none;
    border-top: 6px dotted azure; /* Dotted line */
    /* margin: 20px 0; */
    width: 10%;
    
  }

  footer {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    padding: 0px;
    background-color: #FFFBDA;
    color: #fff;

  }
  #footer-text{
    color: #000;
  }

  .flex-box{
    display: flex;
    margin-top: 10%;
    /* background-color: #F3C623; */
    padding: 10px 20px;
    opacity: .96;
  } 

  .btn{
    text-align: center;

  }

